@import "tailwindcss";

@theme {
    --color-supp-blue: #63bce5;
    --color-light-supp-blue: #eef7fd;
    --color-supp-dark-blue: #150f31;
    --animate-fade-in: fade-in 0.6s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer components {
  .btn-primary {
    @apply bg-supp-blue text-white py-3 px-6 rounded hover:bg-supp-blue/90 duration-300;
  }

  /* .btn-secondary {
    @apply bg-transparent text-white py-3 px-6 rounded border-2 outline-offset-2 border-white/50 hover:bg-white/10 duration-300 backdrop-blur-sm;
  } */

  .animate-fade-in {
    opacity: 0;
  }
}