@import "tailwindcss";

@theme {
    --color-supp-blue: #63bce5;
    --color-light-supp-blue: #eef7fd;
    --animate-fade-in: fade-in 0.6s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.animate-fade-in {
    opacity: 0;
}